.bg-image {
  background-image: url("https://miro.medium.com/max/1400/1*GsImz-edoeuqCMfKxDus0w.jpeg");
}
.bg-cover-image {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/20/09/13/flash-2660929__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
